.btn {
  border: none;
  padding: 14px;
  border-radius: 3px;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.primary {
  background-color: blue;
}
.outline {
  background-color: yellow;
}
.fullwidth {
  width: 100%;
  background-color: #fcd508;
  color: white;
}
