.container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 60px;
  display: block;
}

.dropdown {
  border-radius: 8px;
  background-color: #fafafa;
  display: block;
  padding: 8px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #e6e6e6;
  z-index: 2;
}

.list {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.list li {
  display: flex;
  padding: 8px;
  gap: 16px;
  width: 100%;
}

.list li:hover {
  background-color: #f2f2f2;
  border-radius: 6px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #171717;
}

.link > p {
  font-size: 12px;
  white-space: nowrap;
  color: #666666;
}

.icon {
  font-size: 18px;
}
